/*case*/
.case{
	width: 100%;
	overflow: hidden;
}
.case .content{
	width: 1200px;
	overflow: hidden;
}
.case .rank{
	width: 100%;
	height: 54px;
	border-bottom: 2px solid #e0e0e0;
	margin-bottom: 32px;
}
.case .rank li{
	float: left;
	height: 54px;
	padding: 0 23px;
	line-height: 54px;
	text-align: center;
	position: relative;
}
.case .rank li a{
	line-height: 54px;
	display: block;
	color: #494949;
	font-size: 0.9em;
	font-weight: 100;
}
.case .rank li.active a{
	color: #b9272a;
	border-bottom: 2px solid #b9272a;
}

.teamList{
	width: 100%;
	margin-bottom: 50px;
}
.teamList ul{
	overflow: hidden;
	width: 100%;
}
.teamList ul li{
	float: left;
	cursor: pointer;
	width: 380px;
	margin-right: 30px;
	margin-bottom: 30px;
	background: #ebebeb;
	height: 0;
	height: 265px;
	position: relative;
	overflow: hidden;
}
.teamList ul li:nth-child(3n){
	margin-right: 0;
}
.teamList ul li:hover .cornerBox{
	width: 100%;
	height: 100%;
}
.teamList ul li .cornerBox{
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.teamList ul li .cornerBox .corner{
	width: 0px;
	height: 0px;
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	visibility: hidden;
}
.teamList ul li:hover .cornerBox .corner{
	width: 45px;
	height: 45px;
	visibility: visible;
}
/*.teamList ul li .cornerBox .corner .row{
	width: 100%;
	height: 1px;
	position: absolute;
	background: #bd0716;
}
.teamList ul li .cornerBox .corner .col{
	width: 1px;
	height: 100%;
	position: absolute;
	background: #bd0716;
}*/
.teamList ul li .cornerBox .corner.top-left{
	top: 0;
	left: 0;
	border-top: 1px solid #bd0716;
	border-left: 1px solid #bd0716;
}
/*.teamList ul li .cornerBox .corner.top-left .row,.teamList ul li .cornerBox .corner.top-left .col{
	top: 0;
	left: 0;
}*/
.teamList ul li .cornerBox .corner.top-right{
	top: 0;
	right: 0;
	border-top: 1px solid #bd0716;
	border-right: 1px solid #bd0716;
}
/*.teamList ul li .cornerBox .corner.top-right .row,.teamList ul li .cornerBox .corner.top-right .col{
	top: 0;
	right: 0;
}*/
.teamList ul li .cornerBox .corner.bottom-left{
	bottom: 0;
	left: 0;
	border-bottom: 1px solid #bd0716;
	border-left: 1px solid #bd0716;
}
/*.teamList ul li .cornerBox .corner.bottom-left .row, .teamList ul li .cornerBox .corner.bottom-left .col{
	bottom: 0;
	left: 0;
}*/
.teamList ul li .cornerBox .corner.bottom-right{
	bottom: 0;
	right: 0;
	border-bottom: 1px solid #bd0716;
	border-right: 1px solid #bd0716;
}
/*.teamList ul li .cornerBox .corner.bottom-right .row, .teamList ul li .cornerBox .corner.bottom-right .col{
	bottom: 0;
	right: 0;
}*/

.teamList ul li .whiteMask{
	width: 380px;
	height: 265px;
	background: #ffffff;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.teamList ul li:hover .whiteMask{
	width: 360px;
	height: 245px;
}

.teamList ul li a{
	width: 380px;
	height: 265px;
	display: block;
	-webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
	-moz-transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
	-ms-transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
	-o-transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
	transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
	margin: 0;
}
.teamList ul li a .outBox{
	width: 360px;
	height: 245px;
	position: absolute;
	left: 10px;
	top: 10px;
}
.teamList ul li a .teamDes{
	width: 100%;
	height: 155px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px 10px 15px;
	overflow: hidden;
}
.teamList ul li a .teamDes .teamAvatar{
	width: 120px;
	height: 120px;
	margin-right: 28px;
	float: left;
}
.teamList ul li a .teamDes .teamAvatar img{
	width: 100%;
	height: 100%;
}
.teamList ul li a .teamDes .teamName{
	width: 191px;
	height: 120px;
	float: left;
}
.teamList ul li a .teamDes .teamName h3{
	color: #ad2c2a;
	margin-top: 12px;
	font-size: 1.25em;
}
.teamList ul li a .teamDes .teamName h3 span{
	width: 18px;
	height: 18px;
	color: #ffffff;
	text-align: center;
	line-height: 18px;
	font-size: 0.75em;
	margin-left: 8px;
	display: inline-block;
	border-radius: 2px;
}
.teamList ul li a .teamDes .teamName h3 span.addCollection{
	color: #fc972d;
	font-size: 20px;
}
.teamList ul li a .teamDes .teamName p{
	color: #999999;
	font-size: 0.75em;
	margin-top: 12px;
	line-height: 1.5em;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4; 
	overflow: hidden;
}
.teamList ul li a .teamInfo{
	width: 100%;
	height: 43px;
	border-bottom: 1px solid #f1f1f1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	padding: 6px 20px 18px;
}
.teamList ul li a .teamInfo div{
	width: 33.3333%;
	float: left;
}
.teamList ul li a .teamInfo div p{
	color: #b7b7b7;
	font-size: 0.875em;
}
.teamList ul li a .teamInfo div p span{
	color: #bd0716;
	font-size: 1.25em;
	margin-right: 7px;
}
.teamList ul li a .teamInfo div.type p.agent{
	color: #79bb27;
}
.teamList ul li a .teamInfo div.type p.owner{
	color: #bd0716;
}
.teamList ul li a .teamData{
	width: 100%;
	height: 52px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	padding: 16px 15px 20px 8px;
}
.teamList ul li a .teamData p{
	line-height: 16px;
	font-size: 0.75em;
	color: #aaaaaa;
	float: left;
	text-align: center;
}
.teamList ul li a .teamData p span{
	color: #b02a2a;
	font-size: 1.25em;
}
.teamList ul li a .teamData p:nth-child(1),.teamList ul li a .teamData p:nth-child(2){
	border-right: 1px solid #e4e4e4;
}
.teamList ul li a .teamData p.project{
	width: 107px;
	position: relative;
}
.teamList ul li a .teamData p.article{
	width: 104px;
	position: relative;
}
.teamList ul li a .teamData p.popularity{
	width: 123px;
}



.index{
	margin-top: 30px;
}
.index .content{
	position: relative;
	width: 1162px;
}
.indexInfo .indexList{
	width: 1085px;
}
.index .content .screen-result{
	position: absolute;
	right: 35px;
	bottom: 45px;
}
.index .content .screen-result span{
	display: block;
	text-align: right;
	font-weight: 100;
}
.index .content .screen-result .num{
	color: #B22825;
	font-size: 42px;
}
.index .content .screen-result .text{
	color: #c5c5c5;
	font-size: 18px;
}
.pages{
	width: 580px;
	margin: 40px auto;
}
.teamList ul li a .teamDes .teamName h3 span.added{
	color: #7dcf13;
}
