<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="multipartResovler" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>

    <!-- 配置SpringMVC -->
    <!-- 1.开启SpringMVC 注解模式 -->
    <!-- 简化配置 -->
    <mvc:annotation-driven/>
	<!-- <mvc:resources location="/img/" mapping="/img/**"/> 
	<mvc:resources location="/css/" mapping="/css/**"/> 
	<mvc:resources location="/js/" mapping="/js/**"/> -->
    <!-- 2.静态资源配置 -->
    <mvc:default-servlet-handler />

    <!-- 3.jsp的显示ViewResolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 4.扫描web相关的Bean -->
    <context:component-scan base-package="cn.river.web"/>
    <!--  拦截器设置 -->
    <mvc:interceptors>
        <!-- 通用拦截器 检查客户端类型，目前只区分手机和电脑客户端-->
        <!-- request.getAttribute("prefix") -->
        <bean class="cn.river.interceptors.UserAgentCheck"/>
        <mvc:interceptor>
            <mvc:mapping path="/sysadmin/**"/>
            <!-- 后台管理系统 权限检查拦截器 -->
            <bean class="cn.river.interceptors.AdminLoginCheck"/>
        </mvc:interceptor>
    </mvc:interceptors>


    <!-- SpringMVC上传文件时，需要配置MultipartResolver处理器 -->
</beans>